<html>
    <head>
        <title>Blogul lui Sebi</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blogul lui Sebi</a></h1>
        </div>

        <div>
            <h2><a href="">Prima mea postare</a></h2>
            <p>In curand voi avea si text adaugat.</p>
            <p>postat in 15.02.2021, 14:01</p>
        </div>

        <div>
            <h2><a href="">A doua postare</a></h2>
            <p>Textul nu este adaugat inca deoarece am lucruri mai importatnte de facut si de invatat :D.</p>
            <p>postat in 15.02.2021, 14:06</p>
        </div>
    </body>
</html>
