<header>
    <h1><a href="/">Blogul lui Sebi</a></h1>
</header>

{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
        <div>
            <h2><a href="">Prima mea postare</a></h2>
            <p>In curand voi avea si text adaugat.</p>
            <p>postat in 15.02.2021, 14:01</p>
        </div>

        <div>
            <h2><a href="">A doua postare</a></h2>
            <p>Textul nu este adaugat inca deoarece am lucruri mai importatnte de facut si de invatat :D.</p>
            <p>postat in 15.02.2021, 14:14</p>
        </div>
    </body>
</html>
